.container{
    background-color: rgb(210, 210, 228);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2%;
    padding: 1.5%;
    font-size: small;
    margin: 1%;
   
}
.linha{
    border-radius: 2.5%;
    border: none;
    width: 100%;
    margin-bottom: 1%;
    padding: 0.5%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
#enviar{
    background-color: rgb(86, 189, 103);
    border: none;
    padding: 1%;
    border-radius: 7%;
    color: white;
}
#enviar:hover{
    background-color: rgb(216, 205, 53);
}