body{
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#bordas, #bordas1, #bordas2, #bordas3, #bordas4{
    margin: 3%;
    background-color: rgb(238, 212, 212);
    padding: 5%;
}

.menuitem{
    display: inline;
   
    border-left: darkgrey;
    margin: 1%;
    color: rgb(24, 23, 22);
    font-size: small;
   

}
.bordascss{
    border-style: solid;
    border-color: rgb(77, 8, 37);
}
.espacopar{
    padding: 2%;
    margin: 3%;

}
a{
    text-decoration: none;
}
/* quando passar  por algo, muda a cor para outra*/
a:hover{
    background-color: rgb(230, 186, 219);
    color: rgb(221, 214, 211);
}
img{
    display: block;
    margin: auto;
}