body{
    background-color: rgb(204, 221, 231);
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: rgb(246, 247, 248);
    padding: 3%;
    border-radius: 2em;
    margin: 0% 5% 0% 5%;
    padding-left: 15%;
}

.titulo {
    text-align: center;
}

input[type=text]{
    width: 45%;
    margin-bottom: 1%;
}
input{
    border-radius: 0.3em;
    border-color: rgb(77, 7, 241);
    padding: 0.5%;
}
input[type=submit]{
    margin: 2% 30% 2% 30%;
    width: 30%;
    background-color: rgb(184, 184, 241);
    color: rgb(10, 10, 10);   
}
input[type=number]{
    width: 10%;
}
