body{
    font-size: large;
    background-color: #e0e9db;

}

.limenu{
    list-style: none;
    display: inline;
    margin: 2% 2% 2% 2%; 
    color: rgb(235, 235, 243);
    padding: 1%;

}
nav{
    background-color:#8d9788;
    padding: 1%;
    font-size: medium;
    
}

.nomeh1{
    text-align: center;
    
}

a{
    text-decoration: none;
    color: black;
}

#bordas, #bordas1, #bordas2{
    margin: 3%;
    background-color: rgb(244, 245, 247);
    padding: 5%;
}
#bordas3, #bordas4{
    margin: 3%;
    background-color: rgb(238, 241, 245);
    padding: 5%;
}

.bordascss{
    border-style: solid;
    border-color: rgb(41, 44, 44);
    padding: 3%;
}

#contatos{
    justify-content: center;
    text-align: center;
}