body{
    font-size: large;
    background-color: rgb(220,220,220);

}

.limenu{
    list-style: none;
    display: inline;
    margin: 2% 2% 2% 2%; 
    color: rgb(240, 236, 236);
    padding: 1%;
    

    

}
nav{
    background-color: rgb(47,79,79);
    padding: 1%;
    
}

.nomeh1{
    text-align: center;
    
}

a{
    text-decoration: none;
}

#bordas, #bordas1, #bordas2{
    margin: 3%;
    background-color: rgb(119,136,153);
    padding: 5%;
}
#bordas3, #bordas4{
    margin: 3%;
    background-color: rgb(119,136,153);
    padding: 5%;
}

.bordascss{
    border-style: solid;
    border-color: rgb(41, 44, 44);
    padding: 3%;
}